exportPattern("^[[:alpha:]]+")
export(ConvertUnit)
export(CorrectDataBasedAmon)
export(ET.HargreavesSamaniHong)
export(find_up_or_down_pipes)
export(readSWMM_ts)
import(sf)
import(zoo)
import(lubridate)
import(ggplot2)
import(swmmr)



